@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

#logo span{
  color:#fcd116;

}

.container-ind {
  width: 100%;
  height: 100%;
  background: url("../images/wallpapertip_3d-printing-wallpaper_2083274.jpg");
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: top right;
}

.content {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  margin: 10% 1% 0% 50%;
  padding: 1% 2% 2% 2%;
  width: 35%;
}

.content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 4.5em;
  line-height: 108px;
  text-align: center;
}

.content h1 span {
  color: #fcd116;
}

.content p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.875em;
  line-height: 37px;
}

.container-ind button {
  width: 16%;
  margin: 12% 10% 10% 60%;
  background-color: #fcd116;
  border-radius: 20px;
  border: none;
  height: 60px;
}

.container-ind button a {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875em;
  line-height: 37px;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: black;
}

#logo2{
  background-color: #bf532c;
}

#logo2 span{
  color:#fcd116;
}

.container-ind button:hover {
  background-color: black;
  transition: ease-in-out;
  transform: scale(1.05);
  transition-duration: 500ms;
}
.container-ind button:hover a {
  color: #fcd116;
}

.container-dip {
  display: flex;
  background-color: #bf532c;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-dip img {
  width: 45%;
  float: left;
}

.content-dip {
  display: flex;
  flex-direction: column;
  margin: 2% 5% 0 5%;
}

.content-dip p {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 60px;
  text-align: center;
  margin-bottom: 0.5em;
}

.content-dip p span {
  color: #fcd116;
}

.content-dip label,
input,
select {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 45px;
  text-align: center;
}

.content-dip label {
  margin-bottom: 0.2em;
}

.content-dip input,
select {
  width: 50%;
  border: 1px solid #fcd116;
  border-color: #fcd116;
}

.content-dip button {
  margin-top: 1em;
  width: 80%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 45px;
  text-align: center;
  border-radius: 20px;
  background: #fcd116;
  border: none;
  padding: 8px 0;
}

.content-dip button:hover {
  background: black;
  color: #fcd116;
  transition: ease-in-out;
  transition-duration: 500ms;
}

.content-dip #display {
  margin-top: 0.8em;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 45px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #bf532c;
  align-items: center;
  justify-content: center;
}
